Flask
aiohttp>=3.8.0
anthropic
mcp_agent @ git+https://github.com/ernestocullari/fast-agent@4f22f3967f84daeff103b429b360cc6b4ffe2021#egg=mcp_agent&subdirectory=src
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
